.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 2px solid var(--border);
}

.sidebar .sidebar_section {
    border-bottom: 1px solid var(--border-bottom);
    padding: 20px 30px;
}


/* --- SIDEBAR HEADER --- */
.sidebar .sidebar_header {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: var(--sidebar-header);
}

.sidebar .sidebar_header .sidebar_header_title {
    font-size: 1.8rem;
    margin-bottom: 5px;
    font-weight: 700;
}

.sidebar .sidebar_header .sidebar_header_description {
    line-height: 1.6rem;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 25px;
}

.sidebar .sidebar_header .sidebar_header_actions .button {
    width: 100%;
    text-align: left;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    color: var(--sidebar-button-inactive);
    cursor: pointer;
}

.sidebar .sidebar_header .sidebar_header_actions .button span {
    margin-left: 10px;
}

.sidebar .sidebar_header .sidebar_header_actions .button.active {
    background-color: var(--active-button);
    color: var(--sidebar-button)
}
/* --- SIDEBAR HEADER END --- */

/* --- SIDEBAR FILTER --- */
.sidebar .sidebar_filter {
    flex: 1;
}

.sidebar .sidebar_filter .sidebar_filter_date_title {
    margin-bottom: 15px;
}

.sidebar .sidebar_filter .sidebar_filter_dropdown_show_button {
    color: var(--blue);
    cursor: pointer;
}

.sidebar .sidebar_filter .sidebar_filter_date_title,
.sidebar .sidebar_filter .sidebar_filter_dropdown_title {
    color: var(--filter-title);
}

.sidebar .sidebar_filter .sidebar_filter_dropdown_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar .sidebar_filter .sidebar_filter_dropdown_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.sidebar .sidebar_filter .sidebar_filter_dropdown_filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .sidebar_filter .sidebar_filter_dropdown_filters .selected_filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar .sidebar_filter .sidebar_filter_dropdown_filters .selected_filter .icon {
    width: 30px;
    color: var(--green2);
}

.sidebar .sidebar_filter .sidebar_filter_dropdown_filters .selected_filter .name {
    color: var(--green3);
}

.sidebar .sidebar_filter .sidebar_filter_dropdown_filters .filter_dropdown {
    position: relative;
}
/* --- SIDEBAR FILTER END --- */

/* --- SIDEBAR ACTION BUTTONS --- */
.sidebar .sidebar_action {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.sidebar .sidebar_action .sidebar_action_button {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border: 1px solid var(--gray3);
    background-color: #FFF;
    border-radius: 5px;
    color: var(--gray3);
    font-size: 1rem;
    font-weight: 600;
}

.sidebar .sidebar_action .sidebar_action_button.active {
    border: none;
    background-color: var(--sprout-color);
    color: #FFF;
}

.sidebar .sidebar_action .sidebar_action_button svg {
    margin-right: 10px;
}
/* --- SIDEBAR ACTION BUTTONS END --- */