/* Navigation bar MAIN container */
.navigation-bar {
    background-color: var(--gray);
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  
  /* --- LOGO --- */
  .navigation-bar .logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .navigation-bar .logo .logo_img {
    min-width: 110px;
    max-width: 50px;
  }
  
  .navigation-bar .logo .logo_text {
    font-size: 25px;
    padding-left: 15px;
    border-left: 1px solid var(--gray2);
    color: var(--dirty-white);
    font-weight: 300;
    line-height: 2.6rem;
  }
  /* --- LOGO END --- */
  
  /* --- DROPDOWN --- */
  .navigation-bar .dropdown {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-size: 18px;
  }
  
  .navigation-bar .dropdown .dropdown_item {
    text-decoration: none;
    color: var(--dirty-white);
  }
  /* --- DROPDOWN END --- */
  
  /* --- SEARCH --- */
  .navigation-bar .search .search_input {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--dirty-white);
    font-size: 16px;
    padding: 10px;
  }
  
  .navigation-bar .search .search_input::placeholder {
    color: var(--dirty-white);
  }
  /* --- SEARCH END --- */
  
  /* --- USER --- */
  .navigation-bar .user {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .navigation-bar .user .user_icon {
    background-color: #c4c4c4;
    border-radius: 100%;
    width: 28px;
    height: 28px;
  }
  
  .navigation-bar .user .user_name {
    font-size: 18px;
    color: #2fc7e2;
  }
  /* --- USER END --- */
  